input {
  width: 100%;
  border: solid 1px black;
  border-radius: 5px;
  margin: 10px 0;
  box-sizing: border-box;
}

button {
  border: solid 1px black;
  border-radius: 5px;
  margin: 10px 5px 15px 0;
  box-sizing: border-box;
}

.tutto{
  padding-top: 100px;
  width: 100%;
}

#root {
  width: 100%;
  max-width: 100%;
}

.tutto .row {
  display: flex;
  flex-direction: column;
}

.events {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 24px !important;
  flex-wrap: wrap;
  justify-content: center;
}