body{
    margin-top:0;
    box-sizing: border-box;
}
body::-webkit-scrollbar {
    display: none;
}
.divnavbar{
    position: fixed;
    top: 0;
    left: 0;
    background-color: red;
    width: 100vw;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 70px;
    height: 70px;
    border-radius: 25px;
    display: inline-block;
}

h1{
    margin-left: 30px;
    display: inline-block;
    color: white;
    font-size: 1.5rem !important;
}